<div id="<%= dom_id animal %>">
  <p>
    <strong>Name:</strong>
    <%= animal.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= animal.age %>
  </p>

  <p>
    <strong>Identyfikator:</strong>
    <%= animal.identyfikator %>
  </p>

  <p>
    <strong>Enjoys:</strong>
    <%= animal.enjoys %>
  </p>

</div>
